# 📦 Python 기본
__pycache__/
*.py[cod]
*.egg-info/
*.log

# 📁 가상환경 (예: venv)
.env
.venv/
venv/

# 🔐 민감 정보 및 로컬 파일
.env
bids_raw.db
last_collected_time.json

# 💻 운영체제별 불필요한 파일
.DS_Store
Thumbs.db

# ⚙️ IDE 설정 파일 (선택)
.vscode/
.idea/
